<% if @lesson.errors.any? %>
    <p><% @lesson.errors.full_messages.to_sentence %></p>
<% end %>

<%= form_with model: @lesson, url: student_lessons_path, local: true do |f| %>
    <%= f.label :level %>
    <%= f.select :level, ["beginner", "intermediate", "advanced"] %>

    <%= f.label :instructor %>
    <%= f.select :instructor_id, Instructor.all.collect {|i| [i.name, i.id]} %>


   <%= f.label :appointment_day %>
   <%= f.select :appointment_day, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", 
   "Sunday"] %>
    
   <%= f.submit "book lesson" %>


<% end %>